.main
{
    width: 1000px;
    text-align: left;
    border: 1px solid red;
}

.header
{
    width: 100%;
    float: left;
    background-color: #FFFFCC;
}

.center
{
    width: 100%;
    float: left;
    background-color: none;
    margin-top: 100px;
}

.footer
{
    width: 100%;
    float: left;
    background-color: #FFCC66;
}

.mod_create
{
    width: 500px;
}







